@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.layout-container {
  .content {
      .center {
          margin-left: 0 !important;
          margin-right: 0 !important;
          width: 100%;
          min-width: 100%;
      }
  }
}