@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((
  font-family-primary: 'Vazir',
  layout-background-color: '#343358',
  layout-content-width: 100%,
  text-basic-color: '#eeedf3',
  secondry-backgound-color: '#eeedf3',
  secondry-text-color: '#a5a6b6',
  layout-padding: 0,
  thirdly-background-color: '#2a2748',
), default, default);